{% extends 'base.html.twig' %}

{% block title %}UE{% endblock %}

{% block body %}
<form method="post" class="row g-3">
    {{ form_start(form) }}

    <div class="col-md-6">
        {{ form_row(form.codeUE, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-12">
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.credit, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.semester, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.level, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.fields, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-12">
        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(form) }}
</form>{% endblock %}
